<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="Projeto_Cake.My.MySettings.cakeDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\cakeDB.mdb"
            providerName="System.Data.OleDb" />-->
        <!--<add name="Projeto_Cake.My.MySettings.bancoCakeConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\vinun\OneDrive\Área de Trabalho\PROJETO HUMBERTO\bancoCake.accdb&quot;"
            providerName="System.Data.OleDb" />-->
        <!--<add name="Projeto_Cake.My.MySettings.bancoCakeString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\bin\x86\Debug\BANCO DE DADOS\bancoCake.accdb&quot;"
            providerName="System.Data.OleDb" />-->
        <add name="Projeto_Cake.My.MySettings.connBD" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\vinun\OneDrive\Área de Trabalho\banco\bancoCake.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>